<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <title>
        Add players to tournament
    </title>
    <style>
   table {
    width: 100%;
   }
   td {
    padding: 5px;
    vertical-align: top;
   }
   .col1 { background: #ccc; }
   .col2 { background: #ffd; }
  </style>
</head>
<body>
<h1> {{ tournament.tournament_name}} </h1>
<table >
    <tr >
        <td>
            <h2> These players available to add to tournament: </h2>
            <table>
            {% for pl in players %}
                    <tr>
                    <td>{{ pl.id }}</td>
                    <td>{{ pl.first_name }}</td>
                    <td>{{ pl.last_name }}</td>
                    <td>{{ pl.birthdate }}</td>
                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="player_id" value="{{ pl.id }}">
                            <input type="submit" value="Добавить в турнир">
                        </form>
                    </td>
                    </tr>
            {% endfor %}
            </table>
        </td>
        <td>
            <h2> These players are included to tournament: </h2>
            <table>
                {% for pl in participants %}
                <tr>
                    <td>{{ pl.id }}</td>
                    <td>{{ pl.first_name }}</td>
                    <td>{{ pl.last_name }}</td>
                    <td>{{ pl.birthdate }}</td>
                </tr>
                {% endfor %}
            </table>
                <form action='{{ tournament.id }}/'>
                    {% csrf_token %}
                    <input type="submit" value="Сформировать пары">
                </form>
        </td>
    </tr>
</table>
</body>
</html>